<section (click)="closeThread()">
  <div class="headline">
    <div *ngIf="!sharedservice.resize720">
      <img src="./img/workspace-logo.svg" alt="" />
      <h1>Devspace</h1>
    </div>
    <div *ngIf="sharedservice.resize720 && searchService.isDevSearch" class="devSearchHeader">
      <span>Search</span>
      <button><img src="./img/close.svg" alt=""></button>
    </div>
    <button *ngIf="!sharedservice.resize720" (click)="openNewMessage()"><img src="./img/edit_square.svg"
        alt="" /></button>
    <div *ngIf="sharedservice.resize720" class="devSearch">
      <input (input)="searchService.searchInDevspace('dev', users, channels)" [(ngModel)]="searchService.searchInput"
        type="text" placeholder="Devspace durchsuchen">
      <button><img src="./img/search.svg" alt=""></button>
    </div>
  </div>

  <div *ngIf="searchService.isDevSearch" class="searchList">
    <div (click)="openChats(index)" class="contactsrow" *ngFor="let object of searchService.currentList; let index=index">
      <div>
        <img *ngIf="searchService.isChannel" src="./img/tag.svg" alt="">
        <div *ngIf="!searchService.isChannel" class="imageContainer">
          <img class="profile-image" [src]="object.avatar" alt="" />
          <div class="status-dot" [ngClass]="{ green: object.online }"></div>
        </div>

        <span>{{ object.name }}</span>
      </div>
    </div>
  </div>

  <div *ngIf="!searchService.isDevSearch" class="contactbar">
    <div class="channels">
      <div class="channelbar">
        <div>
          <button (click)="toggleActive()">
            <img [ngClass]="{ rotate: isActive() }" class="image-down" src="./img/arrow_drop_down-1.svg" alt="" />
          </button>
          <div>
            <img src="./img/workspaces_black.svg" alt="" />
            <span>Channels</span>
          </div>
        </div>
        <button (click)="showChannelOverlay()" class="addButton"><img src="./img/add.svg" alt="" /></button>
      </div>
      <div [ngClass]="{ show: isActive() }" class="channellist">
        <div (click)="openChannel(index)" class="channelrow" *ngFor="let channel of channels; let index = index">
          <div>
            <img src="./img/tag.svg" alt="" />
            <span>{{ channel.name }}</span>
          </div>
        </div>
      </div>
      <div (click)="showChannelOverlay()" class="addChannel">
        <div>
          <button><img src="./img/add_circle.svg" alt="" /></button>
          <span>Channel hinzufügen</span>
        </div>
      </div>
    </div>
    <div class="messages">
      <div class="messagebar">
        <div>
          <button (click)="toggleMessage()">
            <img [ngClass]="{ rotate: isOpen() }" src="./img/arrow_drop_down-1.svg" alt="" />
          </button>
          <div>
            <img src="/img/account_circle.svg" alt="" />
            <span>Direktnachrichten</span>
          </div>
        </div>
      </div>
      <div [ngClass]="{ show: isOpen() }" class="contacts">
        <div (click)="openPersonalChat(index)" *ngFor="let user of this.users; let index = index" class="contactsrow">
          <div>
            <div class="imageContainer">
              <img class="profile-image" [src]="user.avatar" alt="" />
              <div class="status-dot" [ngClass]="{ green: user.online }"></div>
            </div>

            <span>{{ user.name }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>