section {
  width: 366px;
  height: 100% !important;
  background-color: #ffffff;
  border-radius: 30px;
  font-family: "Nunito";
  box-sizing: border-box;
  padding: 32px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  overflow-y: scroll;
}

.devSearch {
  width: 100% !important;
  border: solid;
  box-sizing: border-box;
  padding: 8px 24px;
  border-width: 1px;
  border-color: var(--border-light);
  border-radius: 42px;

}

button {
  border: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.headline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 306px;
  height: 60px;

  >div {
    width: 100%;
    max-width: 250px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;

    >img {
      width: 60px;
      height: 60px;
    }
  }

  >button {
    width: 40px;
    height: 40px;

    >img {
      max-width: 40px;
      height: 40px;
    }

    &:hover {
      >img {
        content: url(/img/edit_square_hover.svg);
      }
    }

    &:active {
      transform: scale(0.95);
    }
  }
}

.contactbar {
  width: 100%;
  max-width: 305px;
  height: 671px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.channels {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.channelbar {
  width: 100%;
  height: 46px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  >div {
    width: 176px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;

    >button {
      width: 30px;
      height: 30px;
    }

    >div {
      width: 121px;
      height: 27px;
      display: flex;
      align-items: center;
      gap: 10px;

      >img {
        width: 24px;
        height: 24px;
      }

      >span {
        font-size: 20px;
        font-weight: 700;
      }
    }

    &:hover {
      >div {
        >span {
          color: #535af1;
        }

        >img {
          content: url(/img/workspaces_purple.svg);
        }
      }

      >button {
        >.image-down {
          content: url(/img/arrow_drop_down-1-purple.svg);
        }

        >.image-right {
          content: url(/img/arrow_drop_down-2-purple.svg);
        }
      }
    }
  }
}

.image-down {
  width: 9px;
  height: 6px;
}

.image-right {
  width: 9px;
  height: 6px;
  display: none;
}

.addButton {
  width: 30px;
  height: 30px;

  >img {
    width: 14px;
  }

  &:hover {
    >img {
      content: url(/img/add-hover.svg);
      width: 24px;
    }
  }

  &:active {
    transform: scale(0.95);
  }
}

.rotate {
  transform: rotate(-90deg);
}

.channellist {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: scaleY(0);
  overflow-y: scroll;
}

.channelrow {
  width: calc(100% - 25px);
  height: 33px;
  padding-left: 25px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 25px;
  cursor: pointer;

  >div {
    width: fit-content;
    height: calc(100% - 8px);
    border: none;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 4px 20px;

    >img {
      width: 16px;
    }

    >span {
      font-size: 18px;
      font-weight: 400;
    }

    &:hover {
      background-color: #eceefe;
      border-radius: 20px;

      >span {
        color: #535af1 !important;
        font-weight: 700;
      }

      >img {
        content: url(/img/tag-purple.svg);
      }
    }
  }
}

.addChannel {
  width: 100%;
  height: 33px;
  margin-top: 25px;
  display: flex;
  justify-content: center;
  cursor: pointer;

  &:hover {
    >div>button>img {
      content: url(/img/add_circle_hover.svg);
    }

    >div>span {
      color: #535af1;
    }
  }

  >div {
    display: flex;
    align-items: center;
    gap: 10px;

    height: 25px;
    padding: 4px 10px;

    >button {
      width: 24px;
      height: 24px;

      &:active {
        transform: scale(0.95);
      }

      >img {
        width: 20px;
        height: 20px;
      }
    }
  }
}

.show {
  transform: scaleY(1) !important;
}

.messages {
  width: 100%;
  height: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.messagebar {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  padding-block: 3px;

  >div {
    width: 243px;
    height: 30px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    gap: 25px;

    &:hover {
      >button>img {
        content: url(/img/arrow_drop_down-1-purple.svg);
      }

      >div>img {
        content: url(/img/account_circle-purple.svg);
      }

      >div>span {
        color: #535af1;
      }
    }

    >button {
      width: 30px;
      height: 30px;

      >img {
        width: 9px;
        height: 6px;
      }
    }

    >div {
      width: 199px;
      height: 27px;
      display: flex;
      align-items: center;
      gap: 10px;

      >span {
        font-size: 20px;
        font-weight: 700;
      }
    }
  }
}

.contacts {
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 13px;
  transform: scaleY(0);
  overflow-y: scroll;
}

.contactsrow {
  width: 281px;
  height: 58px;
  display: flex;
  justify-content: flex-start;
  padding-left: 25px;
  cursor: pointer;

  >div {
    width: fit-content;
    height: 50px;
    padding: 4px 20px;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 35px;
    gap: 15px;

    &:hover {
      background-color: #eceefe;

      >span {
        font-weight: 700;
        color: #535af1;
      }
    }

    >span {
      font-size: 18px;
      font-weight: 400;
    }
  }
}

.profile-image {
  width: 50px;
  border-radius: 30px;
}

.imageContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.status-dot {
  position: absolute;
  bottom: 0;
  right: -2px;
  width: 12px;
  height: 12px;
  border: solid;
  background-color: gray;
  border-radius: 50%;
  border-color: #eceefe;
  border-width: 2px;
}

.green {
  background-color: #92c83e;
}

.memeberProfile {
  position: absolute;
  top: 50%;
  left: 50%;
}

@media(max-width: 720px) {
  .headline {
    width: 100%;
    justify-content: center;
    max-width: unset;
  }

  .devSearch {
    width: 100% !important;
    max-width: unset !important;
  }
}


@media(min-width: 390px) {
  .devSearch {
    display: none;
  }
}

@media(max-width: 407px) {
  section {
    width: 100vw;
    border-radius: 0px;
  }

  section {
    padding: 20px;

  }

}