<section>
    <div class="logo">
        <img src="./img/1. Logo animation.svg" alt="">
    </div>

    <form (ngSubmit)="onSubmit(useraccount)" #useraccount="ngForm">
        <button (click)="routeToLogin('/login')" class="goback"><img src="./img/goback.svg" alt=""></button>
        <div class="header">
            <h1>Konto erstellen</h1>
            <span>Mit deinem Namen und deiner E-Mail-Adresse hast du dein neues DABubble-Konto.</span>
        </div>

        <div class="inputfield">

            <div class="inputContainer">
                <img src="./img/person_filled.svg" alt="">
                <input #name="ngModel" [(ngModel)]="user.name" type="text" placeholder="Name und Nachname" name="name" required>
            </div>
            @if(name.touched && !name.valid){
                <span class="error">Bitte Vor-und Zuname eingeben</span>
            }
            <div>
                <img src="./img/mail.svg" alt="">
                <input #email="ngModel" [(ngModel)]="user.email" type="email" name="email"
                    placeholder="beispielname@email.com" required
                    pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}">
            </div>
            @if(email.touched && !email.valid){
            <span class="error">Die E-Mail-Adresse ist ungültig</span>
            }
            <div>
                <img src="./img/lock.svg" alt="">
                <input #password="ngModel" [(ngModel)]="user.password" type="password" placeholder="Passwort"
                    name="password" required
                    pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}">
            </div>
            @if(password.touched && !password.valid){
            <span class="error">Bitte geben Sie ein Passwort ein. Es muss mindestens 8 Zeichen
                lang sein, einen Großbuchstaben, einen Kleinbuchstaben und eine
                Zahl enthalten.</span>
            }


        </div>

        <div class="privacy">
            <div (click)="toggleCheckBox()" class="checkbox">
                <div [ngClass]="{'hide': isChecked}" class="default"></div>
                <div [ngClass]="{'hide': !isChecked}" class="checked"></div>
            </div>
            <span>Ich stimmte der <a href="">Datenschutzerklärung</a> zu</span>
        </div>
        <button class="submit" [disabled]="useraccount.invalid">Weiter</button>
    </form>
</section>