<section>

    <img class="logo" src="./img/1. Logo animation.svg" alt="">
    <form (ngSubmit)="reset()" #resetPassword="ngForm">
        <button (click)="sharedService.navigateToPath('/login')" class="back"><img src="./img/arrow_back.svg" alt=""></button>
        <div class="headline">

            <h1>Passwort zurücksetzen</h1>
            <span>Bitte geben Sie Ihre E-Mail-Adresse ein</span>
        </div>

        <div class="inputContainer">
            <div class="inputField">
                <img src="./img/mail.svg" alt="">
                <input #email="ngModel" [(ngModel)]="input" name="email" type="email" placeholder="beispielname@email.com" required  pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}">
            </div>
            @if(email.touched && email.invalid){
                <span class="error">Bitte geben Sie Ihre E-Mail-Adresse ein</span>
            }
            <span>Wir senden Ihnen eine E-Mail, über die 
                Sie Ihr Passwort ändern können.</span>
                <div class="btnContainer">
                    <button [disabled]="resetPassword.invalid">E-Mail senden</button>
                </div>
        </div>
       
    </form>

    <div class="slider" [ngClass]="{'translatex': isSend}">
        <img src="./img/send_white.svg" alt="">
        <span>E-Mail gesendet</span>
    </div>
    <div class="footer">
<app-footer></app-footer>
    </div>
</section>