<section >  <!--(click)="reactionService.isReaction=false"  -->
    <div (click)="closeThread()" class="header">
        <img src="./img/1. Logo animation.svg" alt="">
        <div class="search">
            <input type="text" placeholder="Devspace durchsuchen">
            <button><img src="./img/search.svg" alt=""></button>
        </div>

        <div class="profile">
            <span>{{currentUser?.name}}</span>
            <div class="imageContainer">
                <img class="profile-image" [src]="currentUser?.avatar" alt="" />
                <div class="status-dot" [ngClass]="{ green: currentUser?.online }"></div>
            </div>
            <button (click)="sharedservice.toggleLogout()"><img src="./img/arrow_down.svg" alt=""></button>
        </div>
        <div *ngIf="sharedservice.isLogout" class="logoutContainer">
            <button (click)="toggleProfile()">Profil</button>
            <button (click)="logoutUser()">Logout</button>
        </div>

    </div>
    <div [ngClass]="{'receiverProfile':sharedservice.isReceiver}" *ngIf="sharedservice.isProfileOpen"
        class="profileOverlay">
        <app-profile></app-profile>
    </div>

    <div class="content">
        <div [ngClass]="{'hideDevspace': sharedservice.devSlide}" class="devspace">
            <app-devspace></app-devspace>
        </div>

        <div class="chatwindow">
            <app-chatwindow></app-chatwindow>
        </div>
        <div [ngClass]="{'showThread': threadIsOpen}" class="thread">
            <app-thread></app-thread>
        </div>
    </div>



    <div *ngIf="showChannel" class="channelOverlay">
        <form class="createChannel" (ngSubmit)="createChannel()" #newChannel="ngForm">
            <div class="headline">
                <span>Channel erstellen</span>
                <div (click)="toggleChannelOverlay()"><img src="./img/close.svg" alt=""></div>
            </div>
            <div class="textfield">
                <span>Channels dienen deinem Team zur Kommunikation. Am besten sollten sie themenbezogen sein #marketing
                    zum Beispiel.</span>
            </div>
            <div class="inputContainer">
                <span>Channel-Name</span>
                <div>
                    <img src="./img/tag.svg" alt="">
                    <input #name="ngModel" [(ngModel)]="channelName" type="text" name="name" placeholder="z.B. Kooperationsprojekte" required>
                     
                </div>
                @if(name.touched && !name.valid){
                    <span class="error">Bitte geben Sie einen Namen ein</span>
                }
            </div>
            <div class="inputContainer">
                <span>Beschreibung (optional)</span>
                <div>
                    <input #description="ngModel" [(ngModel)]="channelDescription" name="description" type="text"
                        placeholder="Dein Text hier">
                </div>

            </div>
            <div class="buttonContainer">
                <button type="submit" [disabled]="newChannel.invalid" class="createButton">Erstellen</button>
            </div>
        
        </form>
    </div>

    

    <div (click)="sharedservice.closeOverlay()" *ngIf="sharedservice.isOverlay" class="overlay"></div>

    <div (click)="toogleDevspace()" class="toogleDevspace">
        <div>
            <span>Workspace-Menü öffnen</span>
            <img *ngIf="!sharedservice.devSlide" src="./img/hidedevspace.svg" alt="">
            <img class="showdev" *ngIf="sharedservice.devSlide" src="./img/showdevspace.svg" alt="">
        </div>
      
    </div>
</section>