<section>
    <div class="logo" id="logoSmall">
        <img src="./img/1. Logo animation.svg" alt="">
    </div>
    <span>Neu bei DABubble?</span>
    <button (click)="routeToSignin('/signin')">Konto erstellen</button>

    <form class="login" #userauth="ngForm" (ngSubmit)="login()">
        <div class="header">
            <h1>Anmeldung</h1>
            <span>Wir empfehlen dir, die E-Mail-Adresse zu nutzen, die du bei der Arbeit verwendest.</span>
        </div>
        <div class="inputfields">
            <div>
                <img src="./img/mail.svg" alt="">
                <input #email="ngModel" [(ngModel)]="user.email" type="email" name="email" placeholder="beispielname@email.com" required >
            </div>

            <div>
                <img src="./img/lock.svg" alt="">
                <input #password="ngModel" [(ngModel)]="user.password" type="password" placeholder="Passwort" name="password" required>
                   
            </div>
            <button (click)="sharedservice.navigateToPath('/remove')">Passwort vergessen?</button>
        </div>
        <div class="buttons">
            <button [disabled]="userauth.invalid" class="btn-purple">Anmelden</button>
            <button class="btn-white">Gäste-Login</button>
        </div>

    </form>

    <div class="intro" id="intro">
        <div class="logoContainer" id="logoDiv" >
            <img id="logo" src="./img/Logo.svg" alt="">
            <div id="title" class="title">
                <span>DABubble</span>
            </div>
        </div>
    </div>
</section>