section {
    width: 100vw;
    height: 100vh;
    position: relative;
    background-color: var(--bg-color);
    font-family: 'Nunito';
    display: flex;
    justify-content: center;
    align-items: center;

    >span {
        position: absolute;
        top: 75px;
        right: 32px;
    }

    >button {
        padding: 10px 15px;
        background-color: transparent;
        border: none;
        color: var(--purple2);
        font-size: 18px;
        font-weight: 400;
        position: absolute;
        top: 100px;
        right: 20px;
    }
}

.logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.login {
    width: 100%;
    max-width: 606px;
    height: 100%;
    max-height: 769px;
    background-color: white;
    position: relative;

    border-radius: 30px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.08);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 32px;
    box-sizing: border-box;
    padding: 40px;
}

.header {
    width: 100%;
    max-width: 486px;
    height: 100%;
    max-height: 133px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;


    >h1 {
        font-size: 46px;
        font-weight: 700;
        color: var(--purple1);
        margin: 0;
    }

    >span {
        text-align: center;
        font-size: 18px;
        font: 300;
    }
}

.inputfields {
    width: 100%;
    max-width: 500px;
    height: 100%;
    max-height: 222px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    >div {
        width: 100%;
        height: 60px;
        box-sizing: border-box;
        padding: 18px 32px;
        background-color: var(--bg-color);
        border: none;
        border-radius: 100px;
        display: flex;
        justify-content: flex-start;
        gap: 10px;

    }

    >button {
        background-color: transparent;
        border: none;
        color: var(--purple2);
        font-size: 18px;
    }
}

input {
    background-color: transparent;
    border: none;
    width: 100%;

}

input:focus {
    outline: none;
    box-shadow: none;
}

input:focus::placeholder {
    opacity: 0;
}


input:-webkit-autofill:focus {
    background-color: transparent !important;
    color: white !important;
}

input:-webkit-autofill {
    background-color: transparent !important;
    color: white !important;
    transition: background-color 5000s ease-in-out 0s, color 5000s ease-in-out 0s;
}


.buttons {
    width: 100%;
    max-width: 320px;
    height: 100%;
    max-height: 49px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    >button {
        width: 100%;
        max-width: 137px;
        height: 100%;
        max-height: 49px;
        border: none;
        border-radius: 25px;
        padding: 12px 25px;
    }
}

.intro {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom, rgba(121, 126, 243, 1), rgba(49, 58, 229, 1));
    position: absolute;
    top: 0;
    left: 0;

    background-color: white;
    z-index: 11;
}


.logoContainer {
    width: 100%;
    max-width: 696px;
    height: 184px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    >img {
        width: 187px;
        height: 184px;
        transform: translateX(100%);
        transition: transform 0.5s ease;
    }


}

.moveLeft {
    transform: translateX(0) !important;
}

.title {
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s ease;

    >span {
        font-size: 96px;
        font-weight: 700;
        color: white;
    }
}

.showTitle {
    transform: scaleX(1);
}

.hideIntro {
    animation: hideIntro 0.5s ease;
    opacity: 0;


}

@keyframes hideIntro {
    0% {
        opacity: 1;

    }

    100% {
        opacity: 0;

    }

}

.d_none {

    display: none;
}

.moveToCorner {
    animation: moveLogo 1s ease;
    top: 75px;
    left: 75px;
    transform: translate(0);
    transition: top 1s ease, left 1s ease;
}

@keyframes moveLogo {
    0% {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

    }

    100% {
        top: 75px;
        left: 75px;
        transform: translate(0);
    }

}

@media(max-width: 670px) {
    section {
        box-sizing: border-box;
        padding: 20px;
        align-items: flex-start;

        >span {
            left: 50%;
            transform: translateX(-50%);
            width: fit-content;
            top: 600px;
        }

        >button {
            left: 50%;
            transform: translateX(-50%);
            width: fit-content;
            top: 650px;
            border: solid;
            border-radius: 100px;
            border-width: 1px;
        }
    }

    .logo {
        top: 25px;
        left: 50%;
        transform: translateX(-50%);
    }

    .login {
        margin-top: 75px;
        max-height: fit-content
    }

    .logo {
        width: 150px;

        >img {
            width: 100%;
        }
    }

    .header {


        >h1 {
            font-size: 32px;
        }

        >span {
            font-size: 16px;
            width: 100%;
        }
    }

    .inputfields {
        justify-content: flex-start;
        gap: 16px;
        height: fit-content;

        >div {

            height: 50px;
        }
    }

    .buttons {
        gap: 8px;
    }

    .title {
        display: none;
     
    }
    .moveToCorner{
        animation: none;
    }

    .hideIntro{
        animation: none;
    }

    .moveLeft{
      transform: unset;
    }
    .logoContainer{
        max-width: fit-content;
        justify-content: center;
        >img{
            transform: translateX(0);
        }
    }
}