<section>
    <div [ngClass]="{'newMessageHeader': isNewMessage}" class="header">
        <div (click)="openProfile()" *ngIf="isPersonalChat" class="profile">
            <div class="imageContainer">
                <img class="profile-image" [src]="currentReciever?.avatar" alt="" />
                <div class="status-dot" [ngClass]="{ green: currentReciever?.online }"></div>
            </div>
            <span>{{currentReciever?.name}}</span>
        </div>

        <div *ngIf="isChannel" class="channelName">
            <div>
                <img src="./img/tag_black.svg" alt="">
                <span>{{currentReciever.name}}</span>
            </div>
            <button><img src="./img/arrow_down.svg" alt=""></button>
        </div>
        <div *ngIf="isChannel" class="members">
            <div class="memberAvatars">
                <div class="memberImages">
                    <div *ngFor="let member of currentReciever?.members?.slice(0,3)">
                        <img [src]="member.avatar" alt="">
                    </div>
                    
                </div>
                <span *ngIf="currentReciever?.members.length - 3 > 0">+ {{currentReciever?.members.length - 3}}</span>
            </div>
            <button (click)="toggleSearch()"><img src="./img/add_members.svg" alt=""></button>
        </div>
        <div *ngIf="isNewMessage" class="newMessage">
            <span>Neue Nachricht</span>
            <input type="text" placeholder="An: #channel, oder @jemand oder E-Mail Adresse">
        </div>
    </div>

    <div *ngIf="isSearch" class="addMember">
        <div>
            <div>
                <span>Leute hinzufügen</span>
                <button (click)="toggleSearch()"><img src="./img/close.svg" alt=""></button>
            </div>

            <div class="nameOfChannel">
                <img src="./img/tag_purple2.svg" alt="">
                <span>{{currentReciever.name}}</span>
            </div>
        </div>
        <input (input)="openList()" [(ngModel)]="searchInput" type="text" placeholder="Namen eingeben">
        <div class="buttonCont">
            <button (click)="addPerson()" >Hinzufügen</button>
        </div>
        <div *ngIf="openSearch" class="lists memberlist">
            <div (click)="findMember(index)" [ngClass]="{'channelStyle': isChannelList}" class="listrow"
                *ngFor="let object of searchList; let index = index">
                <div *ngIf="!isChannelList" class="imageContainer">
                    <img class="profile-image" [src]="object?.avatar" alt="">
                    <div *ngIf="!isChannelList" class="status-dot" [ngClass]="{'green': object?.online}"></div>
                </div>
                <img class="tag" *ngIf="isChannelList" src="./img/tag.svg" alt="">
                <div>
                    <span>{{ object?.name}}</span>
                </div>
            </div>
        </div>
    </div>



    <div id="chat" class="chat-content">
        <div *ngFor="let message of currentMessages; let i=index" [ngClass]="{'change': isUser(message)}">
            <div class="divider" *ngIf="isNewDay(message, currentMessages[i - 1])">
                <div>
                    <p>{{isToday(message.time)? 'Heute' : (message.time | date:'EEEE, d MMMM')}}</p>
                </div>
            </div>
            <div [ngClass]="{'reverse': isUser(message)}" class="messagerow">
                <div class="image">
                    <img [src]="message.photo" alt="">
                </div>
                <div [ngClass]="{'messageReverse': isUser(message)}" class="messageContainer">
                    <div [ngClass]="{'reverse': isUser(message)}" class="messageData">
                        <span>{{message.name}}</span>
                        <p>{{message.time | date:'HH:mm'}} Uhr</p>
                    </div>
                    <div [ngClass]="{'bubbleReverse': isUser(message)}" class="messageBubble">
                        <span>{{message.content}}</span>
                    </div>
                    <div [ngClass]="{'reverse': isUser(message)}" *ngIf="isChannel" class="threadlink">
                        <a (click)="openThread(message)" >
                            <span>{{message.thread?.length}}</span>
                            <span>Antworten</span>
                        </a>
                        <div>
                            <span>Letzte Antwort</span>
                            <span></span><!--{{message.thread[message.thread.length-1]?.time}}-->
                        </div>

                    </div>
                </div>

            </div>

        </div>
        <div class="startContainer" *ngIf="isEmpty">
            <div class="userContainer">
                <img *ngIf="isChannel" class="channelImg" src="./img/tag_black.svg" alt="">
                <img *ngIf="!isChannel" [src]="currentReciever?.avatar" alt="">
                <span>{{currentReciever?.name}}</span>
            </div>
            <div *ngIf="!isChannel" class="welcomeText">
                <p *ngIf="!isYou">Diese Unterhaltung findet nur zwischen <a href="">&commat;{{currentReciever?.name}}
                    </a>und dir statt.</p>
                <p *ngIf="isYou"><span> Dieser Raum ist nur für dich da.</span> Mache dir Notizen, liste deine To-dos
                    auf oder bewahre Links und Dateien griffbereit auf. Du kannst hier auch gerne Dinge mit dir selbst
                    besprechen.</p>
            </div>
            <div *ngIf="isChannel" class="welcomeText">
                <p *ngIf="!isYou">Du hast diesen Channel heute erstellt. Das ist der Anfang des Channels <a
                        href="">&commat;{{currentReciever?.name}}
                    </a></p>

            </div>
        </div>

    </div>



    <div [ngClass]="{'show': isClicked }" class="lists">
        <div (click)="getReciever(index)" [ngClass]="{'channelStyle': isChannelList}" class="listrow"
            *ngFor="let object of currentList; let index = index">
            <div *ngIf="!isChannelList" class="imageContainer">
                <img class="profile-image" [src]="object?.avatar" alt="">
                <div *ngIf="!isChannelList" class="status-dot" [ngClass]="{'green': object?.online}"></div>
            </div>
            <img class="tag" *ngIf="isChannelList" src="./img/tag.svg" alt="">
            <div>
                <span>{{ object?.name}}</span>
            </div>
        </div>
    </div>


    <div class="textContainer">
        <div>
            <textarea (input)="getList()" [(ngModel)]="message" name="" id=""
                placeholder="Nachricht an {{currentReciever?.name}}"></textarea>
            <div>
                <div class="left">
                    <button><img class="smiley" src="./img/smiley.svg" alt=""></button>
                    <button (click)="toggleList($event)"><img class="at" src="./img/at.svg" alt=""></button>
                </div>
                <button (click)="sendMessage()" class="right"><img src="./img/send.svg" alt=""></button>
            </div>
        </div>
    </div>
</section>