section {
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.header {
    width: 100%;
    height: 110px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.08);
    border-radius: 30px 30px 0px 0px;
    box-sizing: border-box;
    padding: 32px 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.profile {
    width: fit-content;
    height: 58px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    box-sizing: border-box;
    padding: 4px 8px;
cursor: pointer;
    >span {
        font-size: 24px;
        font-weight: 600;
    }
    &:hover{
        background-color: var(--bg-color);
        border-radius: 30px;
    }
}

.imageContainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
}

.profile-image {
    width: 50px;
    border-radius: 42px;
}

.status-dot {
    position: absolute;
    bottom: 0;
    right: -2px;
    width: 12px;
    height: 12px;
    border: solid;
    background-color: gray;
    border-radius: 50%;
    border-color: #eceefe;
    border-width: 2px;
}

.green {
    background-color: #92c83e;
}

.channelName {
    width: fit-content;
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

    >div {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;

        >span {
            font-size: 24px;
            font-weight: 600;
        }
    }

    >button {
        padding: 0;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.members {
    width: 192px;
    height: 46px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    >button {
        &:active {
            transform: scale(0.95);
        }
    }
}

.memberAvatars {
    width: 142px;
    height: 46px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.memberImages{
    width: 100%;
    max-width: 100px;
    height: 40px;
    display: flex;

    >div{
        width: 40px;
        height: 40px;
      
        >img{
            width: 40px;
            height: 40px;
            border-radius: 30px;
            margin-right: -20px;
        }
    }
}

.addMember {
    width: 100%;
    max-width: 514px;
    height: 100%;
    max-height: 294px;
    background-color: white;
    position: absolute;
    top: 100px;
    right: 20px;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);
    border-radius: 30px 0 30px 30px;
    box-sizing: border-box;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    z-index: 1;

    >div {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 5px;

        >div {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            >span {
                font-size: 24px;
                font-weight: 600;
            }

            >button {
                width: 40px;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0;

                >img {
                    width: 40px;
                    height: 40px;
                }
            }
        }

    }
}

.memberlist {
    top: 170px !important;
    left: 50px !important;
    z-index: 10;
    border-radius: 0 30px 30px 30px !important;
}

.nameOfChannel {
    justify-content: flex-start !important;
    gap: 10px;

    >span {
        color: var(--purple2);
        font-size: 20px !important;
    }
}

.buttonCont {
    width: 100%;
    display: flex;
    flex-direction: row !important;
    justify-content: flex-end !important;

    >button {
        width: 147px;
        height: 49px;
        background-color: var(--text-grey);
        color: white;
        border-radius: 25px;


        &:active {
            transform: scale(0.95);
        }
    }
}

.newMessage {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;

    >span {
        font-size: 24px;
        font-weight: 600;
    }

}

input {
    width: 100%;
    height: 55px;
    border: solid;
    border-width: 1px;
    border-radius: 30px;
    border-color: var(--border-light);
    box-sizing: border-box;
    padding: 15px 20px;
}

.newMessageHeader {
    height: 160px !important;
}


.chat-content {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-x: scroll;
    padding-top: 50px;
}

.divider {
    position: relative;
    border-bottom: solid;
    border-width: 1px;
    border-color: var(--light-purple);
    margin-bottom: 20px;
    height: 1px;
    width: 100%;

    >div {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: -17px;
        left: 50%;
        transform: translateX(-50%);
        width: 189px;
        height: 35px;
        text-align: center;
        box-sizing: border-box;
        padding: 5px 15px;
        font-size: 16px;
        font-weight: 300;
        border-radius: 30px;
        background-color: white;
        border: solid;
        border-width: 1px;
        border-color: var(--light-purple);
    }
}

.messagerow {

    width: 100%;
    height: 141px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    padding: 10px 45px;
   
    display: flex;
    gap: 30px;
}

.reverse {
    display: flex;

    flex-direction: row-reverse;

}

.bubbleReverse {
    border-radius: 30px 0px 30px 30px !important;

}

.messageReverse {
    align-items: flex-end !important;

}

.image {
    height: 100%;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    >img {
        width: 70px;
        height: 70px;
        border-radius: 50px;
    }
}

.messageContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: fit-content;
    height: 100%;
    gap: 8px;
}

.messageData {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    width: fit-content;
    height: 25px;

    >span {
        font-size: 16px;
        font-weight: 500;
    }

    >p {
        font-size: 14px;
        font-weight: 300;
    }
}

.messageBubble {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 15px;
    height: 55px;
    width: fit-content;
    background-color: var(--bg-color);
    border-radius: 0px 30px 30px 30px;

    >span {
        font-size: 16px;
        font-weight: 400;
    }
}

.textContainer {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 40px 0;

    >div {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: calc(100% - 90px);
        height: 145px;
        border: solid;
        border-radius: 20px;
        border-width: 1px;
        border-color: var(--border-light);

        >div {
            height: 40px;
            width: calc(100% - 40px);
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 10px;
        }
    }
}

textarea {
    resize: none;
    width: 100%;
    height: 100px;
    border: none;
    background-color: transparent;
    box-sizing: border-box;
    padding: 20px;
    font-family: 'Nunito';
    font-size: 18px;
    font-weight: 400;


}

textarea::placeholder {
    font-family: 'Nunito';
    font-size: 18px;
    font-weight: 400;
}

textarea:focus {
    outline: none;
    background-color: transparent;
}

.left {
    width: 85px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;


    >button {
        >img {
            width: 40px;
            height: 40px;
        }
    }

}

.smiley {

    &:hover {

        content: url(./../../../public/img/smiley_hover.svg) !important;
    }

    &:active {
        transform: scale(0.95);
    }
}

.at {
    &:hover {

        content: url(./../../../public/img/at_hover.svg) !important;
    }

    &:active {
        transform: scale(0.95);
    }
}

.lists {
    position: absolute;
    left: 65px;
    bottom: 170px;
    border: solid;
    width: 100%;
    max-width: 350px;
    height: 467px;
    border-width: 1px;
    border-color: var(--border-light);
    border-radius: 20px 20px 20px 0px;
    box-sizing: border-box;
    padding: 20px 21px;
    display: none;
    background-color: white;
    overflow-y: scroll;

}



.listrow {
    display: flex;
    justify-content: flex-start !important;
    align-items: center;
    width: 100%;
    gap: 15px;
    box-sizing: border-box;
    padding: 4px 20px;
    cursor: pointer;

    >span {
        font-size: 18px;
        font-weight: 400;
    }

    &:hover {
        background-color: var(--bg-color);
        border-radius: 30px;

        >.tag {
            content: url(./../../../public/img/tag-purple.svg) !important;
        }
    }
}

.show {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}

.startContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc(100% - 90px);

    height: 151px;
    position: absolute;
    bottom: 50px;
    left: 45px;

}

.userContainer {
    width: 100%;
    max-width: fit-content;
    height: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 25px;

    >img {
        width: 100px;
        height: 100px;
        border-radius: 100px;
    }

    >span {
        font-size: 20px;
        font-weight: 600;
    }

}

.welcomeText {
    width: 100%;

    height: 27px;

    a {
        color: var(--purple3);
        font-size: 18px;
        font-weight: 400;
    }

    p {
        color: #686868;
        font-size: 18px;
        font-weight: 400;

        >span {
            font-weight: 700;
        }
    }
}

.channelImg {
    width: 32px !important;
    height: 33px !important;
}

.threadlink {
    width: 260px;
    height: 25px;
    display: flex;
    align-items: center;
    gap: 20px;
cursor: pointer;
    >a {
        display: flex;
        align-items: center;
        gap: 10px;
        color: var(--purple3);
    }
}