section {
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.header {
    width: 100%;
    height: 110px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.08);
    border-radius: 30px 30px 0px 0px;
    box-sizing: border-box;
    padding: 32px 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.profile {
    width: fit-content;
    height: 58px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    box-sizing: border-box;
    padding: 4px 8px;
    cursor: pointer;

    >span {
        font-size: 24px;
        font-weight: 600;
    }

    &:hover {
        background-color: var(--bg-color);
        border-radius: 30px;
    }
}

.imageContainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
}

.profile-image {
    width: 50px;
    border-radius: 42px;
}

.status-dot {
    position: absolute;
    bottom: 0;
    right: -2px;
    width: 12px;
    height: 12px;
    border: solid;
    background-color: gray;
    border-radius: 50%;
    border-color: #eceefe;
    border-width: 2px;
}

.green {
    background-color: #92c83e;
}

.channelName {
    width: fit-content;
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 6px 10px;
    box-sizing: border-box;
    cursor: pointer;

    >div {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;

        >span {
            font-size: 24px;
            font-weight: 600;
        }

    }

    >button {
        padding: 0;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &:hover {
        background-color: var(--bg-color);
        border-radius: 50px !important;
    }
}

.members {
    width: 192px;
    height: 46px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    >button {
        &:hover {
            >img {
                content: url(./../../../public/img/addMembers_hover.svg);
            }
        }

        &:active {
            transform: scale(0.95);
        }
    }
}

.memberAvatars {
    width: fit-content;
    height: 46px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    box-sizing: border-box;
    padding: 3px 10px;
    cursor: pointer;

    >span {
        width: 30px;
        font-weight: 600;
        font-size: 20px;
    }

    &:hover {
        background-color: var(--bg-color);
        border-radius: 30px;

        >span {
            color: var(--purple3);
        }
    }
}

.memberImages {
    width: 100%;
    max-width: 100px;
    height: 40px;
    display: flex;

    >div {
        width: 40px;
        height: 40px;

        >img {
            width: 40px;
            height: 40px;
            border-radius: 30px;
            margin-right: -20px;
        }
    }
}

.addMember {
    width: 100%;
    max-width: 514px;
    height: 100%;
    max-height: 294px;
    background-color: white;
    position: absolute;
    top: 100px;
    right: 20px;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);
    border-radius: 30px 0 30px 30px;
    box-sizing: border-box;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    z-index: 1;
    transition: transform 0.3s ease-in-out;

    >div {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 5px;

        >div {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            >span {
                font-size: 24px;
                font-weight: 600;
            }

            >button {
                width: 40px;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0;

                >img {
                    width: 40px;
                    height: 40px;
                }
            }
        }

    }
}

.changeAddMember {
    right: 130px;
    max-width: 415px;
    max-height: fit-content;

}

.listContainer {
    height: fit-content;

}

.addMemberBtn {
    width: 274px;
    height: 56px;
    display: flex;
    flex-direction: row !important;
    justify-content: flex-start !important;
    align-items: center;
    gap: 15px !important;
    box-sizing: border-box;
    padding: 12px 20px;
    cursor: pointer;

    >img {
        width: 32px;
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    >span {
        font-size: 18px !important;
        font-weight: 400 !important;
    }

    &:hover {
        background-color: var(--bg-color);
        border-radius: 100px;

        >img {
            content: url(./../../../public/img/addMembers_hover.svg);
        }

        >span {
            color: var(--purple3);
        }
    }

    &:active {
        transform: scale(0.95);
    }
}

.memberlist {
    top: 170px !important;
    left: 50px !important;
    z-index: 10;
    border-radius: 0 30px 30px 30px !important;
}

.nameOfChannel {
    justify-content: flex-start !important;
    gap: 10px;

    >span {
        color: var(--purple2);
        font-size: 20px !important;
    }
}

.buttonCont {
    width: 100%;
    display: flex;
    flex-direction: row !important;
    justify-content: flex-end !important;

    >button {
        width: 147px;
        height: 49px;
        background-color: var(--text-grey);
        color: white;
        border-radius: 25px;


        &:active {
            transform: scale(0.95);
        }
    }
}

.newMessage {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;

    >span {
        font-size: 24px;
        font-weight: 600;
    }

}

input {
    width: 100%;
    height: 55px;
    border: solid;
    border-width: 1px;
    border-radius: 30px;
    border-color: var(--border-light);
    box-sizing: border-box;
    padding: 15px 20px;
}

.newMessageHeader {
    height: 160px !important;
}


.chat-content {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-x: scroll;
    padding-top: 50px;

    >div {
        position: relative;
        height: fit-content;
        padding: 20px;

    }
}

.divider {
    position: relative;
    border-bottom: solid;
    border-width: 1px;
    border-color: var(--light-purple);
    margin-block: 20px;
    height: 1px;
    width: 100%;

    >div {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: -17px;
        left: 50%;
        transform: translateX(-50%);
        width: 189px;
        height: 35px;
        text-align: center;
        box-sizing: border-box;
        padding: 5px 15px;
        font-size: 16px;
        font-weight: 300;
        border-radius: 30px;
        background-color: white;
        border: solid;
        border-width: 1px;
        border-color: var(--light-purple);
    }
}

.messagerow {

    width: 100%;

    height: fit-content;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    padding: 25px 45px;

    display: flex;
    gap: 30px;
    position: relative;
    box-sizing: border-box;

    &:hover {
        background-color: var(--bg-color);

        // >.menubar {
        //     display: flex;
        // }

        .bubbleBG {
            background-color: white;
        }

        .messageFooter {
            opacity: 1;
        }

    }
}

.showMenubar{
    display: flex !important;
}

.menubar {
    position: absolute;
    top: -10px;
    right: 40px;
    width: 100%;
    max-width: fit-content;
    height: 46px;
    border: solid;
    border-width: 1px;
    border-color: var(--border-light);
    border-radius: 25px 25px 0px 25px;
    box-sizing: border-box;
    padding: 10px 25px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: none;

    >button {
        padding: 0;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;

    }
}

.reverse {
    display: flex;
    flex-direction: row-reverse;

}

.menubarposition {
    left: 40px;
}

.bubbleReverse {
    border-radius: 30px 0px 30px 30px !important;
    background-color: var(--purple2) !important;
    color: white;
}

.messageReverse {
    align-items: flex-end !important;

}

.image {
    height: 100%;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    >img {
        width: 70px;
        height: 70px;
        border-radius: 50px;
    }
}

.checkmark {
    >img {
        &:hover {
            content: url(./../../../public/img/checkmark_hover.svg);
        }
    }
}

.ThumbsUp {
    >img {
        &:hover {
            content: url(./../../../public/img/ThumbsUp_hover.svg);
        }
    }
}

.addreaction {
    >img {
        &:hover {
            content: url(./../../../public/img/addreaction_hover.svg);
        }
    }
}

.Answer {
    >img {
        &:hover {
            content: url(./../../../public/img/Answer_hover.svg);
        }
    }
}

.dots {
    >img {
        &:hover {
            content: url(./../../../public/img/dots_hover.svg);
        }
    }
}

.bg {
    border-radius: 100px;

    &:hover {
        background-color: var(--bg-color) !important;
    }




}

.messageContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    gap: 8px;
}

.messageData {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    width: fit-content;
    height: 25px;

    >span {
        font-size: 16px;
        font-weight: 500;
    }

    >p {
        font-size: 14px;
        font-weight: 300;
    }
}

.messageBubble {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 15px;
    height: fit-content;
    max-width: 600px;
    background-color: var(--bg-color);
    border-radius: 0px 30px 30px 30px;


    >span {
        font-size: 16px;
        font-weight: 400;
        width: 100%;
        word-break: break-all;
    }
}

.textContainer {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 40px 0;

    >div {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: calc(100% - 90px);
        height: 145px;
        border: solid;
        border-radius: 20px;
        border-width: 1px;
        border-color: var(--border-light);

        >div {
            height: 40px;
            width: calc(100% - 40px);
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 10px;
        }
    }
}

textarea {
    resize: none;
    width: 100%;
    height: 100px;
    border: none;
    background-color: transparent;
    box-sizing: border-box;
    padding: 20px;
    font-family: 'Nunito';
    font-size: 18px;
    font-weight: 400;


}

textarea::placeholder {
    font-family: 'Nunito';
    font-size: 18px;
    font-weight: 400;
}

textarea:focus {
    outline: none;
    background-color: transparent;
}

.left {
    width: 85px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;


    >button {
        >img {
            width: 40px;
            height: 40px;
        }
    }

}

.smiley {

    &:hover {

        content: url(./../../../public/img/smiley_hover.svg) !important;
    }

    &:active {
        transform: scale(0.95);
    }
}

.at {
    &:hover {

        content: url(./../../../public/img/at_hover.svg) !important;
    }

    &:active {
        transform: scale(0.95);
    }
}

.lists {
    position: absolute;
    left: 65px;
    bottom: 170px;
    border: solid;
    width: 100%;
    max-width: 350px;
    max-height: 467px;
    border-width: 1px;
    border-color: var(--border-light);
    border-radius: 20px 20px 20px 0px;
    box-sizing: border-box;
    padding: 20px 21px;
    display: none;
    background-color: white;
    overflow-y: scroll;

}



.listrow {
    display: flex;
    justify-content: flex-start !important;
    align-items: center;
    width: 100%;
    gap: 15px;
    box-sizing: border-box;
    padding: 4px 20px;
    cursor: pointer;

    >span {
        font-size: 18px;
        font-weight: 400;
    }

    &:hover {
        background-color: var(--bg-color);
        border-radius: 30px;

        >.tag {
            content: url(./../../../public/img/tag-purple.svg) !important;
        }
    }
}

.show {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}

.startContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc(100% - 90px);

    height: 151px;
    position: absolute;
    bottom: 300px;
    left: 45px;

}

.userContainer {
    width: 100%;
    max-width: fit-content;
    height: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 25px;

    >img {
        width: 100px;
        height: 100px;
        border-radius: 100px;
    }

    >span {
        font-size: 20px;
        font-weight: 600;
    }

}

.welcomeText {
    width: 100%;

    height: 27px;

    a {
        color: var(--purple3);
        font-size: 18px;
        font-weight: 400;
    }

    p {
        color: #686868;
        font-size: 18px;
        font-weight: 400;

        >span {
            font-weight: 700;
        }
    }
}

.channelImg {
    width: 32px !important;
    height: 33px !important;
}

.messageFooter {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    opacity: 1; //opacity auf 0 setzen
}

.threadlink {
    width: fit-content;
    height: 25px;
    display: flex;
    align-items: center;
    gap: 20px;

    cursor: pointer;

    >a {
        display: flex;
        align-items: center;
        gap: 10px;
        color: var(--purple3);
    }

    >div {
        display: flex;
        justify-items: center;
        align-items: center;
        gap: 10px;
        min-width: fit-content;

        >span {
            font-weight: 14px;
            font-weight: 300;
        }
    }
}

.position {
    top: 125px !important;
    border-radius: 0 20px 20px 20px;
}

.memberProfile {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 11;
}

.editChannel {
    position: absolute;
    top: 90px;
    left: 50px;
    width: 100%;
    max-width: 872px;
    height: 100%;
    max-height: 616px;
    background-color: white;
    box-shadow: 0 10px 6px 0 rgba(0, 0, 0, 0.2);
    border-radius: 0 30px 30px 30px;
    overflow-y: scroll;
    z-index: 120;
}

.reactions {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 250px;
    gap: 5px;

    >button {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
    }
}

.iconContainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    box-sizing: border-box;
    padding: 5px 10px;
    width: 64px;
    height: 34px;
    border: solid;
    border-width: 1px;
    border-color: var(--border-light);
    border-radius: 20px;
    cursor: pointer;
}

.reactionList {

    position: absolute;
    right: -180px;
    bottom: -195px;
    width: 180px;
    height: 200px;
    border-radius: 0 30px 30px 30px;
    background-color: var(--purple1);
    box-sizing: border-box;
    padding: 15px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 9;
    gap: 10px;
    color: white;
    overflow-y: scroll;
}

.reactionsRow {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;

    >img {
        width: 18px;
    }
}


.reactionReverse {
    display: flex;
    flex-direction: row-reverse !important;

    .reactions {

        right: 100px;
        left: unset;
    }

    >.text {
        background-color: var(--purple2) !important;
    }
}

.iconBar {
    position: absolute;
    display: flex;
    align-items: center;
    gap: 10px;
    top: -40px;
    left: 150px;
    height: 46px;
    border: solid;
    border-width: 1px;
    border-color: var(--border-light);
    border-radius: 25px 25px 25px 0;
    background-color: white;
    box-sizing: border-box;
    padding: 3px 15px;

    >button {
        width: 40px;
        height: 40px;


    }
}

.reverseIcon {
    left: unset;
    right: 90px;
    border-radius: 25px 25px 0 25px !important;
}

.hoverCheck {

    content: url(./../../../public/img/checkmark_hover.svg) !important;

}

.hoverThumb {
    content: url(./../../../public/img/ThumbsUp_hover.svg) !important;
}

.hoverRocket {
    border-radius: 100px;
    background-color: var(--bg-color);
}

.footerIcon {
    left: unset;
    right: -220px !important;

}

.hide {
    position: absolute !important;
    display: none !important;
}


.editMessage {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    max-width: 800px;
    height: 400px;
    transform: translate(-50%, -50%);
    border: solid;
    border-width: 1px;
    border-color: var(--border-light);
    border-radius: 20px;
    box-sizing: border-box;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
    background-color: white;
    z-index: 10;
    box-shadow: 0 10px 6px 0px rgba(0, 0, 0, 0.2);

    >span {
        font-size: 24px;
    }

}

.editBtns {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    >img {
        &:hover {
            content: url(./../../../public/img/smiley_hover.svg);
        }
    }


    >div {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 32px;

        >button {
            width: 100% !important;
            max-width: 133px !important;
            padding: 12px 25px;
            box-sizing: border-box;
            border-radius: 50px;
            font-size: 18px;
        }
    }
}

.editInput {
    height: 200px;
    border: solid;
    border-width: 1px;
    border-color: var(--border-light);
    border-radius: 20px;
    font-size: 18px;
}

.headDivider {
    width: 100%;
    height: 6px;
    display: flex;
    justify-content: center !important;
    margin-bottom: 10px;

    >div {
        width: 62px;
        height: 100%;
        background-color: gray;
        border-radius: 20px;
    }
}

.transform {
    transform: translateY(0) !important;
}

@media(max-width: 1800px) {
    .messageFooter {
        flex-direction: column;
        align-items: flex-start;
    }
}


@media(max-width: 1400px) {
    .header {
        padding: 10px 16px;
        height: 60px;


        .channelName {
            >div {
                >span {
                    font-size: 18px;
                }

                >img {
                    width: 24px;
                }
            }

        }

    }

    .members {
        width: fit-content;
    }

    .textContainer {

        height: 145px;
        padding: 20px;

        >div {
            height: 100%;
            width: 100%;
        }
    }

    .newMessage {
        justify-content: center;
    }

}

@media(max-width: 1800px) {

    .messageBubble {
        max-width: 400px;
    }
}

@media(max-width: 1600px) {

    .messageBubble {
        max-width: 300px;
    }
}

@media(max-width: 1050px) {
    section {
        border-radius: 0;
    }

    .header {
        border-radius: 0;
    }

    .editChannel {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

@media(max-width: 750px) {

    .messageFooter {
        display: flex;
        flex-direction: column !important;
        align-items: flex-start;
    }

    .reactionReverse {
        align-items: flex-end;
    }

}

@media(max-width: 540px) {
    .memberAvatars {
        display: none;


    }


    .members {
        width: fit-content;

        >button {
            >img {
                width: 32px !important;
            }

        }

    }




    .image {
        img {
            width: 50px;
            height: 50px;
        }
    }

    .messagerow {
        padding: 10px 16px;
        gap: 10px;
    }

    .textContainer {
        width: 100%;
    }

    .editChannel {
        height: 100vh;
        max-height: unset;
        top: -80px;
        left: 0;
        transform: translate(0);
        border-radius: 0;
    }

    .addMember {
        display: flex;
        max-height: 320px;
        z-index: 1000;
        top: unset;
        right: unset;
        bottom: 0;
        width: 100vw;
        max-width: unset;
        border-radius: 30px 30px 0px 0px;
        transform: translateY(100%);
    }

    .lists {
        left: 50%;
        transform: translateX(-50%);
        bottom: 125px;

    }

    .memberlist {
        top: unset !important;
        left: 50% !important;
        transform: translateX(-50%) !important;
        bottom: 170px !important;
        height: 500px !important;
        border-radius: 30px 30px 30px 0px !important;
    }

    .iconBar {
        left: 20px !important;
    }
    .menubar{
        left: 50%;
        transform: translateX(-50%);
    }
}

@media(max-height: 1000px) {}