@font-face {
    font-display: swap;
    font-family: 'Nunito';
    src: url('./assets/fonts/Nunito-VariableFont_wght.ttf')
}
html{
    height: var(--vh);
    overflow-y: auto;
}
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
    font-family: 'Nunito';
 width: 100vw;
 height: var(--vh);

}
.error{
    color: red !important;
    font-size: 14px !important;
}
button {
    cursor: pointer;
    border: none;
    background-color: transparent;

    &:active {
        transform: scale(0.95);
    }

    font-family: 'Nunito';
}

.btn-purple {
    background-color: var(--purple1);
    color: white;
}

.btn-white {
    background-color: white;
    border: solid !important;
    border-width: 1px !important;
    border-color: var(--purple2) !important;
    color: var(--purple1);
}

input {
    background-color: transparent;
    border: none;
    width: 100%;

}

input:focus {
    outline: none;
    box-shadow: none;
}

input:focus::placeholder {
    opacity: 0;
}


input:-webkit-autofill:focus {
    background-color: transparent !important;
    color: white !important;
}

input:-webkit-autofill {
    background-color: transparent !important;
    color: white !important;
    transition: background-color 5000s ease-in-out 0s, color 5000s ease-in-out 0s;
}

:root {
    --bg-color: rgba(236, 238, 254, 1);
    --purple1: rgba(68, 77, 242, 1);
    --purple2: rgba(121, 126, 243, 1);
    --purple3: rgba(83, 90, 241, 1);
    --border-light: rgba(173, 176, 217, 1);
    --text-grey: rgba(104, 104, 104, 1);
    --vh: 100vh:
}