<section>
<div class="headline">

        <div class="title">
            <span>Thread</span>
            <p>#{{currentReciever?.name}}</p>
        </div>
        <button><img src="./img/close.svg" alt=""></button>
   
</div>
<div class="message">
    <div class="content">
        <img [src]="message?.photo" alt="">
        <div >
            <div class="textData">
                <span>{{message.name}}</span>
                <p>{{message.time | date:'HH:mm'}} Uhr</p>
            </div>
            <div class="text">
                <span>{{message?.content}}</span>
            </div>
        </div>
    </div>
    
</div>
<div class="divider">
    <span>{{message.thread.length}} Antworten</span>
    <div class="line">

    </div>
</div>
</section>
