<section>
    <div class="headline">

        <div class="title">
            <span>Thread</span>
            <p>#{{currentReciever?.name}}</p>
        </div>
        <button (click)="closeThread()"><img src="./img/close.svg" alt=""></button>

    </div>
    <div class="message">
        <div class="content">
            <img [src]="message?.photo" alt="">
            <div>
                <div class="textData">
                    <span>{{message?.name}}</span>
                    <p>{{message?.time | date:'HH:mm'}} Uhr</p>
                </div>
                <div class="text">
                    <span>{{message?.content}}</span>
                </div>
            </div>
        </div>

    </div>
    <div class="divider">
        <span>{{currentReciever?.messages[currentIndex]?.thread?.length}} Antworten</span>
        <div class="line">

        </div>
    </div>

    <div class="chat-content">
        <div *ngFor="let message of currentMessages; let index=index">
            <div class="message">
                <div [ngClass]="{'reverse': index % 2 !== 0}" class="content">
                    <img [src]="message?.photo" alt="">
                    <div [ngClass]="{'flex-end': index % 2 !== 0}">
                        <div [ngClass]="{'reverse': index % 2 !== 0}" class="textData">
                            <span>{{message?.name}}</span>
                            <p>{{message?.time | date:'HH:mm'}} Uhr</p>
                        </div>
                        <div [ngClass]="{'reverseColor': index % 2 !== 0, 'bubbleBG': index % 2 === 0}" class="text">
                            <span>{{message?.content}}</span>
                        </div>
                    </div>
                    <div [ngClass]="{'menubarposition':  index % 2 !== 0}" class="menubar">

                        <button><img src="./img/addreaction.svg" alt=""></button>
                        <button *ngIf="isUser(message)"><img src="./img/dots.svg" alt=""></button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div [ngClass]="{'show': isClicked}" class="lists">
        <div (click)="getReciever(index, $event)" [ngClass]="{'channelStyle': isChannelList}" class="listrow"
            *ngFor="let object of currentList; let index = index">
            <div *ngIf="!isChannelList" class="imageContainer">
                <img class="profile-image" [src]="object?.avatar" alt="">
                <div *ngIf="!isChannelList" class="status-dot" [ngClass]="{'green': object?.online}"></div>
            </div>
            <img class="tag" *ngIf="isChannelList" src="./img/tag.svg" alt="">
            <div>
                <span>{{ object?.name}}</span>
            </div>
        </div>
    </div>


    <div class="textContainer">
        <div>
            <textarea (input)="getList($event)" [(ngModel)]="threadMessage" name="" id=""
                placeholder="Nachricht an {{message?.name}}"></textarea>
            <div>
                <div class="left">
                    <button><img class="smiley" src="./img/smiley.svg" alt=""></button>
                    <button (click)="toggleList($event)"><img class="at" src="./img/at.svg" alt=""></button>
                </div>
                <button (click)="sendThreadMessage()" class="right"><img src="./img/send.svg" alt=""></button>
            </div>
        </div>
    </div>
</section>