<section (click)="isClicked=false">
    <div class="headline">

        <div class="title">
            <span>Thread</span>
            <p>#{{currentReciever?.name}}</p>
        </div>
        <button (click)="closeThread()"><img src="./img/close.svg" alt=""></button>

    </div>
    <div class="message">
        <div class="content">
            <img [src]="message?.photo" alt="">
            <div>
                <div class="textData">
                    <span>{{message?.name}}</span>
                    <p>{{message?.time | date:'HH:mm'}} Uhr</p>
                </div>
                <div class="text">
                    <span>{{message?.content}}</span>
                </div>
            </div>
        </div>

    </div>
    <div class="divider">
        <span>{{currentMessages.length}} Antworten</span>
        <div class="line">

        </div>
    </div>

    <div class="chat-content">
        <div *ngFor="let message of currentMessages; let index=index">
            <div class="message">
                <div (mouseover)="!sharedService.checkLowerWidth(540) ? threadMenuBarIndex = index : null;reactionService.isThreadReaction=false"
                    [ngClass]="{'reverse': index % 2 !== 0}" class="content">

                    <img class="image" [src]="message?.photo" alt="">
                    <div class="textDiv" [ngClass]="{'flex-end': index % 2 !== 0}">
                        <div [ngClass]="{'reverse': index % 2 !== 0}" class="textData">
                            <span>{{message?.name}}</span>
                            <p>{{message?.time | date:'HH:mm'}} Uhr</p>
                        </div>
                        <div [ngClass]="{'reverseColor': index % 2 !== 0, 'bubbleBG': index % 2 === 0}" class="text">
                            <span>{{message?.content}}</span>
                        </div>

                        <div [ngClass]="{'reverse': index % 2 !== 0}" class="reactions">
                            <button *ngIf="sharedService.checkLowerWidth(540)" (click)="toggleMenuBar(index)"><img src="./img/addreaction.svg"
                                    alt=""></button>
                            <div *ngIf="message.reactionLength>0"
                                (click)="reactionService.findAllReactions(message, currentReciever.id, currentUser.id, 'thread', index)"
                                class="iconContainer">
                                <img src="{{message?.lastReaction}}" alt="">
                                <span>{{message?.reactionLength}}</span>
                                <div *ngIf="reactionService.isThreadReaction && reactionService.reactionIndex===index"
                                    class="reactionList">
                                    <div class="reactionsRow" *ngFor="let reaction of reactionService.allReactions">
                                        <img src="{{reaction?.icon}}" alt="">
                                        <span>{{reaction?.name}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>



                    </div>


                    <div [ngClass]="{'menubarposition':  index % 2 !== 0, 'showMenubar':threadMenuBarIndex===index}"
                        class="menubar">

                        <button (click)="toogleIconBar()"><img src="./img/addreaction.svg" alt=""></button>
                        <button (click)="messageService.toggelIsEdit(index, message, 'thread')"
                            *ngIf="isUser(message)"><img src="./img/dots.svg" alt=""></button>
                        <div *ngIf="isIconBar" class="iconBar">
                            <button
                                (click)="reactionService.addReaction('./img/checkmark.svg',message,currentUser, currentReciever, 'check', 'thread' )"><img
                                    src="./img/checkmark.svg" alt=""></button>
                            <button
                                (click)="reactionService.addReaction('./img/ThumbsUp.svg',message,currentUser, currentReciever, 'thumb', 'thread' )"><img
                                    src="./img/ThumbsUp.svg" alt=""></button>
                            <button
                                (click)="reactionService.addReaction('./img/rocket.svg',message,currentUser, currentReciever, 'rocket', 'thread' )"><img
                                    src="./img/rocket.svg" alt=""></button>
                            <button
                                (click)="reactionService.addReaction('./img/nerd.svg',message,currentUser, currentReciever, 'nerd', 'thread' )"><img
                                    src="./img/nerd.svg" alt=""></button>
                        </div>
                    </div>

                    <!-- <div [ngClass]="{'reverse': index % 2 !== 0}" class="reactions">
                        <button><img src="./img/addreaction.svg" alt=""></button>
                        <div *ngIf="message.reactionLength>0"
                            (click)="reactionService.findAllReactions(message, currentReciever.id, currentUser.id, 'thread', index)"
                            class="iconContainer">
                            <img src="{{message?.lastReaction}}" alt="">
                            <span>{{message?.reactionLength}}</span>
                            <div *ngIf="reactionService.isReaction && reactionService.reactionIndex===index"
                                class="reactionList">
                                <div class="reactionsRow" *ngFor="let reaction of reactionService.allReactions">
                                    <img src="{{reaction?.icon}}" alt="">
                                    <span>{{reaction?.name}}</span>
                                </div>
                            </div>
                        </div>
                    </div> -->
                </div>

            </div>
        </div>
    </div>


    <div [ngClass]="{'show': isClicked}" class="lists">
        <div (click)="getReciever(index, $event)" [ngClass]="{'channelStyle': isChannelList}" class="listrow"
            *ngFor="let object of currentReciever?.members; let index = index">
            <div *ngIf="!isChannelList" class="imageContainer">
                <img class="profile-image" [src]="object?.avatar" alt="">
                <div *ngIf="!isChannelList" class="status-dot" [ngClass]="{'green': object?.online}"></div>
            </div>
            <img class="tag" *ngIf="isChannelList" src="./img/tag.svg" alt="">
            <div>
                <span>{{ object?.name}}</span>
            </div>
        </div>
    </div>


    <div class="textContainer">
        <div>
            <textarea (input)="getList($event)" [(ngModel)]="threadMessage" name="" id=""
                placeholder="Nachricht an {{message?.name}}"></textarea>
            <div>
                <div class="left">
                    <button><img class="smiley" src="./img/smiley.svg" alt=""></button>
                    <button (click)="toggleList($event)"><img class="at" src="./img/at.svg" alt=""></button>
                </div>
                <button (click)="sendThreadMessage()" class="right"><img src="./img/send.svg" alt=""></button>
            </div>
        </div>
    </div>

</section>